# {{ ansible_managed }}
# -----------------------------------------------------------------------------
# OpenIO processes

other.haproxy: *haproxy*
other.keepalived: *keepalived*
other.mysqld: *mysqld*

openio.account: *oio-account-server*
openio.beanstalkd: *beanstalkd*
openio.meta2-indexer: *oio-meta2-indexer*
openio.blob-indexer: *oio-blob-indexer*
openio.blob-rebuilder: *oio-blob-rebuilder*
openio.conscienceagent: *conscienceagent*
openio.conscience: *conscience*
openio.ecd: *ecd*
openio.event-agent: *oio-event-agent*
openio.keystone: *keystone*
openio.memcached: *memcached*
openio.meta0: *oio-meta0-server*
openio.meta1: *oio-meta1-server*
openio.meta2: *oio-meta2-server*
openio.oio-proxy: *oio-proxy*
openio.rawx: *rawx*
openio.rdir: *rdir*
openio.redissentinel: *sentinel*
openio.redis: *redis-server*
openio.swift-proxy: *swift-proxy*
openio.zookeeper: *zookeeper*

log.journald: *journald*
log.rsyslog: *rsyslog*
log.logrotate: *logrotate*

monitoring.prometheus: *prometheus*
monitoring.alertmanager: *alertmanager*
monitoring.loki: *loki*
monitoring.elasticsearch: *elasticsearch*
monitoring.grafana: *grafana*
monitoring.kibana: *kibana*
monitoring.oio-explorer: *oio-exporter*
monitoring.netdata: *netdata*
monitoring.promtail: *promtail*
monitoring.filebeat: *filebeat*
