# {{ ansible_managed }}
# -----------------------------------------------------------------------------
# OpenIO processes

openio.account: oio-account-ser
openio.beanstalkd: *beanstalkd-*
openio.conscienceagent: *conscienceagent-*
openio.conscience: *conscience-*
openio.ecd: *ecd-*
openio.meta0: oio-meta0-serve
openio.meta1: oio-meta1-serve
openio.meta2: oio-meta2-serve
openio.blob-indexer: oio-blob-indexe
openio.event-agent: oio-event-agent
openio.oio-proxy: oio-proxy
openio.rawx: *rawx-*
openio.rdir: oio-rdir-server
openio.redis: *redis-*
openio.redissentinel: *redissentinel-*
openio.zookeeper: *zookeeper-*
