#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
autodetection_retry: {{ openio_netdata_python_d_retry }}
{% for beanstalk in inventory.services.get('beanstalkd', []) %}
'{{ beanstalk.ip }}:{{ beanstalk.port }}':
    host: '{{ beanstalk.ip}}'
    port: {{ beanstalk.port }}
{% endfor %}
