# NetData Configuration
[global]
  run as user = {{ netdata_run_as_user }}
  web files owner = {{ netdata_web_files_owner }}
  web files group = {{ netdata_web_files_group }}
  # Netdata is not designed to be exposed to potentially hostile
  # networks.See https://github.com/firehol/netdata/issues/164
  {% if netdata_bind_socket_to_IP -%}
  bind socket to IP = {{ netdata_bind_socket_to_IP }}
  {% endif %}

{% if netdata_backend_enabled %}
[backend]
  enabled = yes
  type = {{ netdata_backend_type }}
  destination = {{ netdata_backend_destination }}
  data source = {{ netdata_backend_data_source }}
  prefix = {{ netdata_backend_prefix }}
  hostname = {{ netdata_backend_hostname }}
  update every = {{ netdata_backend_update_every }}
  buffer on failures = {{ netdata_backend_buffer_on_failures }}
  timeout ms = {{ netdata_backend_timeout_ms }}
  send charts matching = {{ netdata_backend_charts | join(' ')}}
{% endif %}

[plugins]
{% for plugin, state in netdata_active_plugins.iteritems() %}
  {{plugin}} = {{ 'yes' if state else 'no' }}
{% endfor %}

{% for plugin in netdata_openio_plugins %}
{% if plugin['enabled'] %}
[plugin:{{plugin}}]
    update every = {{ plugin['every'] if 'every' in plugin else netdata_backend_update_every }}
    command options = --ns {{netdata_openio_namespaces}} {{ plugin['opts'] }}
{% endif %}
{% endfor %}


[netdata.backend_metrics]
  enabled=no

[netdata.backend_bytes]
  enabled=no

[netdata.backend_ops]
  enabled=no

[netdata.backend_thread_cpu]
  enabled=no

[netdata.private_charts]
  enabled=no

{% for t in ('ect','errors','icmp','icmpmldv2','icmpneighbor','icmprouter','icmptypes') %}
[ipv6.{{t}}]
  enabled=no
{% endfor %}

{% for t in ('vmem','threads','processes','preads','pipes','minor_faults','mem','major_faults','lwrites','lreads','files','cpu_user','cpu_system','cpu') %}
[groups.{{t}}]
  enabled=no
[users.{{t}}]
  enabled=no
{% endfor %}
