# {{ ansible_managed }}
# NetData Configuration
[global]
  run as user = netdata
  web files owner = root
  web files group = netdata
  # Netdata is not designed to be exposed to potentially hostile
  # networks.See https://github.com/firehol/netdata/issues/164
  bind socket to IP = {{ openio_netdata_bind_address }}
  default port = {{ openio_netdata_bind_port }}

[backend]
  enabled = {{ openio_netdata_backend_enabled }}
  hostname = {{ openio_netdata_backend_hostname }}
  update every = {{ openio_netdata_backend_update_every }}
  timeout ms = {{ openio_netdata_backend_timeout_ms }}
  send charts matching = {{ openio_netdata_backend_charts | join(' ')}}
{% if openio_netdata_backend_destination %}
  destination = {{ openio_netdata_backend_destination }}
{% endif %}

[plugins]
{% for plugin, state in openio_netdata_active_plugins.iteritems() %}
  {{ plugin }} = {{ 'yes' if state else 'no' }}
{% endfor %}

{% if openio_netdata_inventory_oio_group in group_names %}
{% for plugin in openio_netdata_oio_plugins %}
{% if plugin.enabled %}
{% if plugin.name != 'container'
   or openio_netdata_oio_container_plugin_target == ansible_hostname %}
[plugin:{{ plugin.name }}]
    update every = {{ plugin.every | default(openio_netdata_backend_update_every) }}
    command options = --ns {{ openio_netdata_namespace }} {{ plugin.opts }}

{% endif %}
{% endif %}
{% endfor %}
{% endif %}

[netdata.backend_metrics]
  enabled=no

[netdata.backend_bytes]
  enabled=no

[netdata.backend_ops]
  enabled=no

[netdata.backend_thread_cpu]
  enabled=no

[netdata.private_charts]
  enabled=no

{% for t in openio_netdata_ipv6_ignore %}
[ipv6.{{ t }}]
  enabled=no

{% endfor %}

{% for t in openio_netdata_users_groups_ignore %}
[groups.{{ t }}]
  enabled=no

[users.{{ t }}]
  enabled=no

{% endfor %}
