# {{ ansible_managed }}
# netdata python.d.plugin configuration

# Enable / disable the whole python.d.plugin (all its modules)
enabled: yes

# Prevent log flood
# Define how many log messages can be written to log file in one log_interval
logs_per_interval: {{ openio_netdata_python_d_plugin_logs_per_interval }}

# Define how long is one logging interval (in seconds)
log_interval: {{ openio_netdata_python_d_plugin_log_interval }}

# ----------------------------------------------------------------------
# Enable / Disable python.d.plugin modules
default_run: {{ openio_netdata_python_d_plugin_default_run }}
#
# If "default_run" = "yes" the default for all modules is enabled (yes).
# Setting any of these to "no" will disable it.
#
# If "default_run" = "no" the default for all modules is disabled (no).
# Setting any of these to "yes" will enable it.

beanstalk: yes
redis: no
web_log: {{ openio_netdata_python_d_plugin_web_log }}
memcached: {{ openio_netdata_python_d_plugin_memcached }}
