# netdata python.d.plugin configuration

# Enable / disable the whole python.d.plugin (all its modules)
enabled: {{ netdata_python_d_plugin_enabled }}

# Prevent log flood
# Define how many log messages can be written to log file in one log_interval
logs_per_interval: {{ netdata_python_d_plugin_logs_per_interval }}

# Define how long is one logging interval (in seconds)
log_interval: {{ netdata_python_d_plugin_log_interval }}

# ----------------------------------------------------------------------
# Enable / Disable python.d.plugin modules
default_run: {{ netdata_python_d_plugin_default_run }}
#
# If "default_run" = "yes" the default for all modules is enabled (yes).
# Setting any of these to "no" will disable it.
#
# If "default_run" = "no" the default for all modules is disabled (no).
# Setting any of these to "yes" will enable it.

# apache_cache: yes
# apache: yes
beanstalk: yes
# bind_rndc: yes
# cpufreq: yes
# cpuidle: yes
# dovecot: yes
# elasticsearch: yes

# exim: yes
# fail2ban: yes
# freeradius: yes

# gunicorn_log has been replaced by web_log
gunicorn_log: {{ netdata_python_d_plugin_gunicorn_log }}

# haproxy: yes
# hddtemp: yes
# ipfs: yes
# isc_dhcpd: yes
# mdstat: yes
# memcached: yes
# mysql: yes
# nginx: yes

# nginx_log has been replaced by web_log
nginx_log: {{ netdata_python_d_plugin_nginx_log }}

# ovpn_status_log: yes
# phpfpm: yes
# postfix: yes
# postgres: yes
# redis: yes
# retroshare: yes
# sensors: yes
# smartd_log: yes
# squid: yes
# tomcat: yes
# varnish: yes
web_log: {{ netdata_python_d_plugin_web_log }}
