# {{ ansible_managed }}
autodetection_retry: {{ openio_netdata_python_d_retry }}
{% for redis in services_redis %}
{% if redis.ip | ipaddr %}
'{{ redis.ip }}:{{ redis.port }}':
  name: '{{ redis.ip }}:{{ redis.port }}'
  host: '{{ redis.ip }}'
  port:  {{ redis.port }}
{% endif %}
{% endfor %}
