autodetection_retry: {{ netdata_python_d_retry }}
{% for svc in netdata_openio_service_redis.stdout_lines %}
{% if svc.split(':')[0] | ipaddr %}
'{{svc}}':
  name: '{{svc}}'
  host: '{{ svc.split(":")[0] | ipaddr }}'
  port:  {{ svc.split(":")[1] }}
{% endif %}
{% endfor %}
