#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
autodetection_retry: {{ openio_netdata_python_d_retry }}

# -------------------------------------------
# OpenIO SDS logs

{% for instance in inventory.services.get('rawx', []) %}
{{ instance.id }}:
    name: '.openio.{{ openio_netdata_namespace }}.rawx.rawx-{{ loop.index0 }}.log.access'
    path: '/var/log/oio/sds/{{ openio_netdata_namespace }}/rawx-{{ loop.index0 }}/rawx-{{ loop.index0 }}-httpd-access.log'
    custom_log_format:
        pattern: '\S+ \S+ \S+ \S+  \S+ \S+ \S+ \S+ (?P<address>\S+) \S+ (?P<method>\S+) (?P<code>\d+) (?P<resp_time>\d+) (?P<bytes_sent>\d+) (?P<resp_length>\d+) \S+ \S+ (?P<url>.*)'

{% endfor %}

{% for service in ['meta1', 'meta2'] %}
    {% for instance in inventory.services.get(service, []) %}
{{ instance.id }}:
    name: '.openio.{{ openio_netdata_namespace }}.{{service}}.{{service}}-{{ loop.index0 }}.log.access'
    path: '/var/log/oio/sds/{{ openio_netdata_namespace }}/{{service}}-{{ loop.index0 }}/{{service}}-{{ loop.index0 }}.access'
    custom_log_format:
        pattern: '\S+ \S+ \S+ \S+  \S+ \S+ \S+ \S+ (?P<address>\S+) \S+ (?P<method>\S+) (?P<code>\d+) (?P<resp_time>\d+) (?P<bytes_sent>\d+) \S+ \S+ \S+ (?P<url>.*)'
    {% endfor %}
{% endfor %}

{% for instance in inventory.services.get('oioswift', []) %}
{{ instance.id }}:
    name: '.openio.{{ openio_netdata_namespace }}.oioswift.oioswift-{{ loop.index0 }}.log'
    path: '/var/log/oio/sds/{{ openio_netdata_namespace }}/oioswift-{{ loop.index0 }}/oioswift-{{ loop.index0 }}.log'
    filter:
        include: '- - \d+.\d+ \d+.\d+ -$'
    custom_log_format:
        pattern: '\S+ \S+ \S+ \S+  \S+ (?P<address>\S+) \S+ (?P<method>\S+) (?P<url>\S+) \S+ (?P<code>\d+) \S+ \S+ \S+ (?P<resp_length>\d+|-) (?P<bytes_sent>\d+|-) \S+ \S+ \S+ (?P<resp_time>\d+\.\d+) .*'
{% endfor %}
